.sidebar_content {
    width: 300px;
}
.sidebar_box {
    margin-bottom: 20px;
}
.box_heading {
    text-align: center;
    padding: 4px 10px;
    background: #2b5b84;
}
.box_heading a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    display: block;
}
.box_heading img {
    width: 22px;
}
.box_content {
    background-color: #f3f3f3;
}
.item_content_sidebar {
    font-size: 14px;
    font-weight: 600;
    padding: 8px 0 8px 15px;
    position: relative;
    border: 1px solid #dedede;
}
.icon_li {
    margin-right: 4px;
    width: 13px;
}
.item_content_sidebar a {
    text-transform: uppercase;
    font-size: 14px;
    color: transparent;
    background: linear-gradient(90deg,#2b5b84 0,#4c83b4 0,#12416a 100%);
    -webkit-background-clip: text;
}
.item_hot_news {
    display: block;
    padding: 13px 18px;
    position: relative;
    border: 1px solid #dedede;
}
.item_hot_news a {
    font-size: 16px;
    line-height: 22px;
    color: #333;
    transition: 0.5s;
}
.item_hot_news a:hover {
    color: #2b5b84;
}
.btn_more {
    position: relative;
    background: linear-gradient(90deg,#2b5b84 0,#4c83b4 0,#12416a 100%);
    cursor: pointer;
    width: 100%;
    z-index: 1;
}
.btn_more::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg,#12416a 0,#12416a 0,#3e77a9 100%);
    z-index: -1;
    transition: opacity .7s linear;
    opacity: 0;
}
.btn_more:hover::before {
    opacity: 1;
}
.btn_more a {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px;
    font-weight: 500;
    display: block;
}
@media only screen and (max-width: 768px) {
    .sidebar_content {
        width: 100%;
        margin-top: 20px;
    }
}