.footer {
    color: #fff;
    background: #000;
  }
  .footer_width {
    padding: 20px 165px;
    display: flex;
    flex-direction: column;
  }
  .content_footer {
    display: flex;
    justify-content: space-between;
  }
  .item_ft01, .item_ft02, .item_ft03 {
    width: 30%;
    text-align: left;
  }
  .content_intro p {
    padding-bottom: 10px;
    margin: 0;
    font-size: 13px;
  }
  .title_intro {
    color: #FBFBFB;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .infor_01 a {
    color: #339966;
    text-decoration: none;
  }
  .title_item_ft {
    padding: 0.4rem;
    color: #FBFBFB;
    background: #c2060d;
    font-size: 17px !important;
    width: max-content;
    font-weight: 400 !important;
  }
  .list_game_ft {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .item_game_ft {
    list-style: none;
    width: 50%;
    padding: 5px 0;
  }
  .item_game_ft a {
    text-decoration: none;
    padding: 5px 0;
    color: #fff;
    font-size: 13px;
      font-weight: 600;
  }
  .item_game_ft:before {
    content: " > ";
    color: #fff;
    margin-right: 0.5rem;
  }
  .list_guide {
    padding: 0;
  }
  
  .link_ft a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #F1BD2B;
  }
  .coppy_right {
    text-align: center;
    padding: 10px;
    z-index: 9;
    background: #eeeaea24;
  }
  .text_cr {
    margin: 0;
  }