* {
	font-family: Montserrat, sans-serif !important;
}

body {
	/* background: #101115; */
}

.header {
	position: fixed;
	width: 100%;
	z-index: 4;
	background: #2a5b84;
}

.body_width {
	max-width: 1140px !important;
	margin: auto;
}

.header_top {
	padding: 0;
	transition: 0.5s;
}

.header_scroll {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
	padding: 10px 0;
}

.logo_header {
	display: flex;
}

.logo_header p {
	margin: 0;
}

.fic {
	color: #f6c042;
	font-size: 45px;
	font-weight: bold;
}

.number_logo {
	color: #fff;
	font-size: 40px;
	font-weight: 500;
	border-bottom: 2px solid #fff;
	padding-bottom: 7px;
	margin-left: 2px !important;
}

.logo_header img {
	width: 120px;
	height: auto;
}

.search {
	position: relative;

	width: 39.65%;
}

.search input {
	width: 90%;
	padding: 7.5px 35px 7.5px 15px;
	font-size: 15px;
	border-radius: 10px;
	background: none;
	border: 1px solid #fff;
	color: #fff;
	outline-style: none;
	opacity: 0.5;
}

::placeholder {
	color: #fff;
}

.img_search {
	cursor: pointer;
	top: 8px;
	width: 20px;
	right: 10px;
	position: absolute;
	opacity: 0.5;
}

.btn_acc {
	text-decoration: none;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	border-radius: 6px;
}

.btn_login {
	padding: 10px 19px;
	background: #f6c042;
	color: #000;
	margin-right: 10px;
}

.btn_login:hover,
.btn_register:hover {
	opacity: 0.7;
}

.btn_register {
	padding: 10px 26.4px;
	color: #fff;
	background: #b5000b;
}

.header_menu {
	background: #f6c042;
	position: relative;
}

.menu {
	transition: all 0.5s;
}

.list_menu {
	align-items: center;
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.all_item_menu {
	display: flex;
	align-items: center;
}

/* .all_item_menu li:first-child {
	margin-right: 30px;
} */
.all_item_menu .item_menu {
	margin-right: 10px;
	list-style: none;
	height: 40px;
	display: flex;
	align-items: center;
}

.another_item_menu {
	display: flex;
	justify-content: end;
}

.another_item_menu .item_menu {
	margin-left: 48px;
}

.item_home {
	align-items: center;
	display: flex;
}

.item_home img {
	width: 25px !important;
	height: 25px;
	margin-right: 5px;
}

.item_home p {
	margin: 0;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
}

.icons_arrow {
	width: 12px !important;
}

.sub_menu {
	height: 0;
	display: flex;
	position: absolute;
	align-items: center;
	transition: 0.5s;
	background: #2a5b84;
	z-index: 2;
	width: 100%;
	left: 0;
	top: 40px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 20px 40px rgba(0, 0, 0, 0.18);
}

.content_submenu {
	display: flex;
	text-align: center;
	margin: auto;
}

.item_menu:hover .sub_menu {
	height: 35px;
}

.sub_menu p {
	padding: 5px;
	padding: 0px 16px;
	font-size: 13px !important;
	line-height: 37px !important;
	font-weight: bold !important;
	color: #000 !important;
}

.sub_menu p:hover {
	background: #00000040;
	color: #fff;
}

.content_submenu a {
	color: #fff !important;
}

.item_menu a {
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	padding: 5px 8px;
}

.content_submenu a {
	font-size: 10px;
}

#val_a {
	transition: 0.3s;
}

#val_a:hover {
	color: #2a5b84;
}

.item_menu img {
	width: 30px;
}
.item_menu .img_arrow {
	display: none;
}
.link_special {
	align-items: center;
	display: flex;
	background: #2a5b84;
	border-radius: 5px;
}

.link_special img {
	height: 100%;
	margin-right: 10px;
	width: 19px !important;
}

.link_special p {
	margin: 0;
	color: #fff;
}

.search_nonpc,
.cancel {
	display: none;
}

.img_show_menu {
	display: none;
}

.close_menu {
	display: none;
}

@media only screen and (max-width: 1024px) {

	.search,
	.all_btn_acc,
	.header_menu {
		display: none;
		z-index: 9;
		position: fixed;
	}
	.logo_header img {
		width: 50px !important;
	}
	.header_scroll {
		padding: 0px 0 0 10px;
	}

	.header_menu {
		transition: 0.5s;
		padding: 5px 0;
	}

	.img_show_menu {
		display: block;
		width: 25px;
	}

	.close_menu {
		display: none;
		width: 18px;
	}

	.logo_menu {
		display: none;
	}

	.sub_menu {
		display: none;
		background: unset;
		height: auto !IMPORTANT;
		position: unset;
		box-shadow: unset;
	}

	.sub_menu p {
		width: 100%;
		text-align: left;
		padding: 0;
	}

	.link_special img {
		width: 23.23px !important;
	}

	.item_menu img {
		width: 24px;
	}

	.header_top {
		padding: 10px 25px 5px 25px;
		box-shadow: 0 2px 6px rgb(255 255 255 / 10%);
		position: relative;
	}

	.search_nonpc {
		display: block;
		transition: 0.5s;
		width: 18px;
	}

	.cancel {
		display: none;
		width: 18px;
		transition: 0.5s;
	}

	.search {
		top: 70px;
		width: 100%;
		margin: auto;
	}

	.img_search {
		right: 70px;
	}

	.header_menu {
		width: 100%;
	}

	.logo_home {
		display: none;
	}

	.list_menu {
		flex-direction: column;
		z-index: 3 !important;
	}

	.all_item_menu {
		width: 100%;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
	}

	.another_item_menu {
		width: 100%;
		justify-content: space-between;
	}

	.all_item_menu .item_menu {
		margin-right: 0;
		flex-direction: column;
		height: auto;
	}
	.all_item_menu .item_menu:last-child {
		width: 100%;
	}
	.another_item_menu .item_menu {
		margin-left: 0;
	}

	.content_submenu {
		flex-wrap: wrap;
	}

	.item_home p {
		margin: auto;
		font-weight: 400;
		font-size: 12px;
		line-height: 24px;
	}

	.item_menu {
		width: 50%;
		text-align: center;
		z-index: 3;
	}

	.item_menu a {
		font-weight: 400;
		font-size: 16px;
		width: 100%;
		display: block;
		margin: auto;
		color: #fff !important;
		border-bottom: 1px solid #eee;
		padding: 15px;
	}
	.item_menu .img_arrow {
		display: block;
	}
	.item_menu .vip {
		text-align: center;
	}
	
	.item_menu .item_sub_menu::before {
		content: '•';
		margin-right: 10px;
		font-size: 25px;
	}
	.item_menu .link_special {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.link_special {
		background: none repeat scroll 0 0 #f6c042;
		border-radius: unset;
	}

	.link_special p {
		font-size: 16px;
		font-weight: 400;
	}

	.item_menu span {
		width: 100%;
		text-align: left;
		display: flex;
		align-items: center;
		position:relative;
	}
	.item_menu span .img_arrow {
		width: 10px;
		height: 10px;
		position:absolute;
		right: 20px;
	}

	.header_bot {
		padding: 10px 25px;
	}

	.left_noti {
		width: 13%;
	}
}

@media only screen and (max-width: 768px) {
	.img_search {
		right: 60px;
	}

	.search input {
		width: 87%;
	}

	.left_noti {
		width: 19%;
	}
}

@media only screen and (max-width: 540px) {
	.logo_header img {
		width: 70px;
	}

	.header_scroll {
		padding: 0;
	}

	.header_top {
		padding: 10px 25px;
	}

	.item_menu {
		width: 50%;
	}

	.search {
		width: 100%;
	}

	.search input {
		width: calc(100% - 105px);
	}

	.img_search {
		right: 65px;
	}

	.left_noti {
		width: max-content;
		padding-left: 5px;
	}

	.left_noti img {
		height: auto;
		width: 24px;
	}

	.title_noti {
		display: none;
	}

	.sub_menu {
		min-width: auto !important;
	}

	.sub_menu p {
		text-align: left;
		padding: 0;
	}
}