* {
    font-family: Montserrat, sans-serif !important;
}

body {
    /* background: #101115; */
}
.header {
    position: fixed;
    width: 100%;
    z-index: 4;
    background: #2A5B84;

  }
  .body_width {
    max-width: 1140px !important;
    margin: auto;
  }
  .header_top {
    padding: 0;
    transition: 0.5s;
  }
  .header_scroll {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
  }
  .logo_header img {
    width: 97px;
    height: 50px;
    padding: 5px;
}
  .search {
    position:relative;
  
    width: 39.65%;
  }
  .search input {
    width: 90%;
    padding: 7.5px 35px 7.5px 15px;
    font-size: 15px;
    border-radius: 10px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    outline-style: none;
  }
  ::placeholder {
    color: #fff;
  }
  .img_search {
    cursor: pointer;
    top: 8px;
    width: 20px;
    right: 10px;
    position: absolute;
  }
  .btn_acc {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    border-radius: 6px;
  }
  .btn_login {
    padding: 10px 19px;
    background: #F6C042;
    color: #000;
    margin-right: 10px;
  }
  .btn_login:hover, .btn_register:hover {
    opacity: 0.7;
  }
  .btn_register {
    padding: 10px 26.4px;
    color: #fff;
    background: #B5000B;
  }
  .header_menu {
    background: #F6C042;
    padding: 5px;
  }
  .menu {
    transition: all .5s;
  }
  .list_menu {
    align-items: flex-start;
    margin: 0;
    padding: 2px;
    display: flex;
    justify-content:space-between;
  }
  .item_home {
    align-items: center;
    display: flex;
  }
  .item_home img {
    width: 20px !important;
    height: 18px;
    margin-right: 5px;
  }
  .item_home p {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
  }
  .item_menu {
    list-style: none;
  }
  .icons_arrow {
    width: 12px !important;
  }
  .sub_menu {
      height: 0px;
      position: absolute;
      transition: 0.5s;
      background: #fff;
      list-style: none;
      overflow:hidden;
      z-index: 2;
      min-width: 15em;
      margin: 0;
      padding: 0;
      overflow: hidden;
      box-shadow: 0 0 2px rgba(0,0,0,.1), 0 20px 40px rgba(0,0,0,.18);
  }
  .item_menu:hover .sub_menu {
    height: max-content;
  }
  .sub_menu p {
    padding: 5px;
    border-bottom: 1px solid #eee;
    padding: 8px 16px;
    font-size: 13px !important;
    line-height: 37px !important;
    font-weight: bold !important;
    color: #000 !important;
  }
  .sub_menu p:hover {
    background: #f0ecec;
    color: #000;
  }
  .item_menu a {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    padding: 3px 8px;
  }

  
  .item_menu img {
    width: 25px;
  }
  .link_special {
    align-items: center;
    display: flex;
    background: #2A5B84;
    border-radius: 5px;
  }
  .link_special img {
    height: 100%;
    margin-right: 10px;
    width: 19px !important
  }
  .link_special p {
    margin: 0;
    color: #fff;
  }
  .header_bot {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
  }
  .left_noti {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 11%;
    padding-right: 5px;
  }
  .title_noti {
    text-transform: uppercase;
    color: #F6C042;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
  }
  .left_noti img {
    height: 19px;
  }
  .text_noti {
    color: #fff;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
  }
  .search_nonpc, .cancel {
    display: none;
  }

  .img_show_menu {
    display: none;
  }
  .close_menu {
    display: none;
  }
  @media only screen and (max-width: 1024px) {
    .search, .all_btn_acc, .header_menu {
        display: none;
        z-index: 9;
        position: fixed;
    }
    .header_menu {
      transition: 0.5s;
      padding: 5px 0;
    }
    .img_show_menu {
        display: block;
        width: 25px;
    }
    .close_menu {
      display: none; 
      width: 18px;
    }
    .logo_header img {
        width: 50px;
        height: auto;
    }
    .sub_menu {
      position:static;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      transition: 0.5s;
      height: 0px;
    }
    .sub_menu p {
      width: 100px;
    }
    .link_special img {
      width: 23.23px !important;
    }
    .item_menu a {
      padding: 0 !important;
    }
    .item_menu img {
      width: 19px;
    }
    .header_top {
        padding: 10px 25px;
        box-shadow: 0 2px 6px rgb(255 255 255 / 10%);
        position: relative;
    }
    .search_nonpc {
      display: block;
      transition: 0.5s;
      width: 18px;
    }
    .cancel {
      display: none;
      width: 18px;
      transition: 0.5s;

    }
    .search {
      top: 60px;
      width: 100%;
      margin: auto;
    }
    .img_search {
      right: 70px;
    }
    .header_menu {
      width: 100%;
    }
    .logo_home {
      display: none;
    }
    .list_menu {
      flex-wrap: wrap;
      padding: 15px 20px;
      z-index: 3 !important;
    }
    .item_home p {
      margin: auto;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
    .item_menu {
      width: 48%;
      margin-top: 15px;
      background: none repeat scroll 0 0 #f0f0f0;
      text-align: center;
      border-radius: 5px;
      padding: 5px;
      z-index: 3;
    }
    .item_menu a {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      width:max-content;
      margin:auto;
    }
    .link_special {
      background: none repeat scroll 0 0 #f0f0f0;
    }
    .link_special p {
      color: #000;
    }
    .item_menu span {
      width: 100%;
    }
    .header_bot {
        padding: 10px 25px;
    }
    .left_noti {
        width: 19%;
    }
    
  }
  @media only screen and (max-width: 768px) {
    .img_search {
      right: 60px;
    }
  }
  @media only screen and (max-width: 540px) {
    .item_menu {
      width: 45%;
    }
    .search {
      width: 100%;
    }
    .search input {
      width: calc(100% - 105px);
    }
    .img_search {
      right: 65px;
    }
    .left_noti {
      width: 8%;
    }
    .title_noti {
      display: none;
    }
    .sub_menu {
      min-width: auto !important;
    }
  }